.container {
    display: flex;
    gap: 20px;
    width: 60%;
    margin: 20px auto;
}

.posts {
    flex-grow: 1;
    width: 53%;
    margin-right: 20px;
}

.heading {
    margin-top: 0;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0 20px 0;
    border-bottom: 2px solid #e0e0e0;
}

.filters-options {
    position: relative;
    padding: 4px;
    border-radius: 8px;
}

.filters-options__list {
    position: absolute;
    top: 14px;
    right: -48px;
    padding: 24px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    list-style-type: none;
    z-index: 2;
    background-color: white;
    text-align: center;
    display: none;
}

.filters-options__btn {
    margin-bottom: 8px;
}

.filters-options__btn:hover {
    background-color: #e0e0e0;
}

.filters-options:hover {
    background-color: #e0e0e0;
}

.filters-options:hover .filters-options__list {
    display: block;
}

.suggestions__item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    justify-content: space-between;
}

.avatar-and-name {
    display: flex;
    gap: 12px;
}
.search-and-suggestions {
    width: 34%;
    position: sticky;
    top: 20px;
    bottom: 0;
    height: 1vh;
}

.suggestions__avatar {
    width: 50px;
    border-radius: 28px;
}

.suggestions__user p {
    margin: 0;
    margin-bottom: 4px;
}

.suggestions__follow-btn {
    padding: 4px 16px;
}
