.header {
    padding: 12px 12px 12px 24px;
}

.logo {
    display: flex;
}

.logo__link {
    text-decoration: none;
}

.logo__image {
    display: none;
}

.logo__name {
    font-size: 1.2rem;
    color: black;
}
