.header {
    width: fit-content;
}

.logo {
    display: flex;
}

.logo__link {
    text-decoration: none;
}

.logo__image {
    display: none;
}

.logo__name {
    font-size: 1.2rem;
    color: black;
    margin-top: 0;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav__link {
    border-radius: 12px;
    padding: 8px;
    margin: 8px;
    width: fit-content;
}

.nav__link:hover {
    background-color: #f0f0f0;
}
